<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="layout1.css">
  <link rel="stylesheet" href="signin.css">
  <link rel="stylesheet" href="topNavigation.css">
  <link rel="stylesheet" type="text/css" href="mebe.css">
  <link re l="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/
		font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" type="image/png" href="image/logoTitle.png" sizes="16x16" />

  <meta charset="utf-8">
  <meta name="viewport" content="width = device-width,initial -scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

  <title>
    <%= infoProduct.name%>
  </title>
</head>

<body>

  <div class="container contentBox">
    <header>
      <a href="/"><img src = "image/logo.png" style ="margin-top: 30px;"> </a>
      <% if (user == null) { %>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i> User Management <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="login">Sign in</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="signup">Sign up</a></li>
            </ul>
          </li>
        </ul>
        <% } else { %>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i> User Management <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="">User Account</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/customer/history">History Purchase</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="logout">Sign out</a></li>
              </ul>
            </li>
          </ul>
          <% } %>

            <% if (user == null) { %>
              <div id="callNow" style="clear: both;">
                <p id="userName"> </p>
              </div>
              <% } else { %>
                <div id="callNow" style="clear: both;">
                  <center>
                    <h4 id="welcomeMsg" style="margin-right:20px;">  Welcome,<%=user.hoten%></h4>
                  </center>
                </div>
                <% } %>

                  <div class="clear"></div>
    </header>

    <!--Top Navigation -->
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="#about">About</a>
      <a href="#contact">Contact</a>
      <a href="shopcart">    <i class="fa fa-shopping-cart" ></i></a>
      <div class="search-container">
        <form action="/searchProduct">
          <input type="text" placeholder="Search.." name="search">
        </form>
      </div>
    </div>

    <div style="margin-left: 70px">
      <div class="khung">
        <div class="hinh">
          <img id="imageproduct" src="img/<%=infoProduct.link%>.jpg" width=" 300px" height="400px">
        </div>

        <div class="noidung">
          <h4 class="ten" id="productName">
                        Tên : <%= infoProduct.name%>
                    </h4>

          <div class="mota" id="productInfo">
            Thông tin:
            <%= infoProduct.info%>
          </div>

          <div class="giatien" id="productPrice">
            Trị Giá:
            <%= infoProduct.price%> đ
          </div>
          <form action="addToCart" method="POST">
            <div class="soluong">
              Số lượng:

              <input type="number" value="1" min="1" max="10" style="width:5%" name="soluong" onchange="totalPrice()">

            </div>

            <b>TOTAL PRICE: </b>
            <div class="giatien" id="price">

            </div>

            <div class="themgiohang">
              <a href="" id="addToCart"></a>

              <br>
              <input type="submit" class="btn btn-primary active" style="float:right;" value="Add to cart">
            </div>
          </form>
        </div>

        <div class="space"> </div>
        <h3> Các sản phẩm liên quan </h3>
        <div class="khung">
          <% if (product.length != 0) { %>
            <% for (var i=0 ; i< product.length ; i ++)  { %>
              <!-- hàng for fai có product ở trong -->

              <div class="_1sanpham">
                <a href="chitietsanpham?ID=<%= product[i].ID%>" id="link04"><img src="img/<%=product[i].link%>.jpg" id="img04" src="" width="200" height="200">
                            <p class="tieude" id = "productName4"><%= product[i].name %></p>
                          </a>
                <p class="tien" id="productPrice4">
                  <%= product[i].price %> đ
                </p>
              </div>
              <% } %>
                <% } %>
        </div>
      </div>
      <!--end khung-->
    </div>


    <CENTER>
      <p style="clear:both">DuDaDa web shop</p>
    </CENTER>

    <footer>
      <!-- Contract details-->
      <div class="container" style="background-color:#969696">
        <div class="row">
          <div class="col-sm-3">
            <h4 id="contact">Contact</h4>
            <div>Please contact us through this email:
              <a href="mailto: duytruong0702@gmail.com" style="color:green;">
                                <br>  <b>Duytruong0702@gmail.com  </b>
                            </a>
            </div>
          </div>
          <div class="col-sm-3">
            <img src="image/map.png" alt="map" style="margin-top : 40px;" />
          </div>
          <div class="col-sm-3">
            <h4 id="about">Address</h4>
            <div>15CTT1 - Khoa học tự nhiên
            </div>
          </div>
          <div class="col-sm-3">
            <h4>Visit us on facebook</h4>

            <a href="https://www.facebook.com/truongsi.duy"> <img src = "image/facebook.png" alt = "map" sizes="50x50" /> </a>
            <img src="image/clickme.png" style="margin-top: -10px;" />
          </div>
        </div>
        <!--end row-->

      </div>
      <!-- Contract details-->


      <div class="clear"> </div>

      <!--CoppyRights-->
      <div class="container" style="background-color:#515151">
        <div id="coppyright">Copyright 2018 - DUDADA-WEBISTE - All rights reserved</div>
      </div>

    </footer>
    <!--CoppyRights-->


  </div>
  <!--end container contentBox-->


  <script src="/socket.io/socket.io.js">
  </script>


  <script type="text/javascript">
    function totalPrice() {
      var soluong = document.getElementById("soluong").value;
      var total = soluong * <%= infoProduct.price %>;
      document.getElementById("price").innerHTML = total + " đ";
    }
  </script>


</body>

</html>
