<div class="hinh">
  <%if (infoProduct.link) { %>
    <img id="imageproduct" src="img/<%=infoProduct.link%> " width=" 300px" height="400px">
    <%} else {%>
      <img id="imageproduct" src="img/noimage.jpg" width=" 300px" height="400px">
      <%}%>
</div>

<div class="noidung">
  <h4 class="ten" id="productName">
                    Tên : <%= infoProduct.name%>
                </h4>

  <div class="mota" id="productInfo">
    Thông tin:
    <%= infoProduct.info%>
  </div>

  <div class="giatien" id="productPrice">
    Trị Giá:
    <%= infoProduct.price%> đ
  </div>
  <form action="addToCart?ID=<%= infoProduct.ID%>" method="POST">
    <div class="soluong">
      Số lượng:

      <input type="number" value="1" min="1" max="10" style="width:5%" name="soluong" onchange="totalPrice() " id="tongSL">

    </div>

    <b>TOTAL PRICE: </b>
    <div class="giatien" id="price">

    </div>

    <div class="themgiohang">
      <a href="" id="addToCart"></a>

      <br>
      <input type="submit" class="btn btn-primary active" style="float:right;" value="Add to cart">
    </div>
  </form>
</div>

<div class="space"> </div>
<h3> Các sản phẩm liên quan </h3>

<% if (product.length != 0) { %>
  <% for (var i=0 ; i< product.length ; i ++)  { %>
    <!-- hàng for fai có product ở trong -->

    <div class="_1sanpham">
      <a href="chitietsanpham?ID=<%= product[i].ID%>" id="link04">
        <%if (product[i].link) { %>
          <img id="imageproduct" src="img/<%=product[i].link%> " width=" 200px" height="200px">
          <%} else {%>
            <img id="imageproduct" src="img/noimage.jpg" width=" 200px" height="200px">
            <%}%>
              <p class="tieude" id="productName4">
                <%= product[i].name %>
              </p>
      </a>
      <p class="tien" id="productPrice4">
        <%= product[i].price %> đ
      </p>
    </div>
    <% } %>
      <% } %>
