<!--Slider -->
<div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <center><img src="image/1.jpg" alt="1" width="850" height="300"> </center>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="carousel-item">
      <center><img src="image/2.jpg" alt="Chicago" width="850" height="300"> </center>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="carousel-item">
      <center> <img src="image/3.png" alt="New York" width="850" height="300"> </center>
      <div class="carousel-caption">
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
</div>
<!--Slider -->

<div class="space"> </div>

<!-- Services Details-->
<div class="row">
  <div class="col-sm-4" style="margin:px">
    <a href="danhsach?type=dientu">
      <img href = "" src = "image/pc.png" alt="đồ điện tử" id = "iconService"/>
      <div id = "textService">
        <h4><%= __('dientu')%></h4>
    </a>

    <p style="font-size: 20px;">
      <%= __('describeDientu')%>
    </p>
  </div>
</div>

<div class="col-sm-4">
  <a href="danhsach?type=xe">
      <img src = "image/xe.jpg" alt="xe" id = "iconService" />
      <div id = "textService">
        <h4><%= __('xe')%></h4>
    </a>
  <p style="font-size: 20px;">
    <%= __('describeXe')%>
  </p>
</div>
</div>

<div class="col-sm-4">
<a href="danhsach?type=giadung">
      <img src = "image/gia_dung.png" alt="giadung" id = "iconService" />
      <div id = "textService">
        <h4><%= __('giadung')%></h4>
    </a>
<p style="font-size: 20px;">
  <%= __('describeGiadung')%>
</p>
</div>
</div>

</div>


<div class="space"></div>
<div class="row">

<div class="col-sm-4">
  <a href="danhsach?type=mebe">
      <img src = "image/me_be.jpg" alt="me_be" id = "iconService"/>
      <div id = "textService">
            <h4 id = "nameMebe"><%= __('mebe')%></h4>
        </a>
  <p style="font-size: 20px;">
    <%= __('describeMebe')%>
  </p>
</div>
</div>

<div class="col-sm-4">
<a href="danhsach?type=fashion">
      <img src = "image/fashion.png" alt="fashion" id = "iconService" />
      <div id = "textService">
              <h4><%= __('fashion')%></h4>
        </a>
<p style="font-size: 20px;">
  <%= __('describeFashion')%>
</p>
</div>
</div>

<div class="col-sm-4">
<a href="danhsach?type=thucung">
      <img src = "image/pet.png" alt="pet" id = "iconService"  />
      <div id = "textService">
              <h4><%= __('thucung')%></h4>
        </a>
<p style="font-size: 20px;">
  <%= __('describeThuCung')%>
</p>
</div>
</div>
</div>
<!-- Services Details-->


<div class="space"></div>

<p id="seewhatText"><%= __('About Dudada')%></p>
<center>
<div class="shape21">
  This website shop serves about technology's products like mobiles, computers,v.v... We also supply product of fashion, cars, household utensils and pet
  <br> My name is Duy, a student at HCM University of Science. The Brand name is made from the name of Carton Character I like most.
  <br> However, it has been in developing process. So, some services are not working by now. We are so sorry about this.
  <br> We will complete it as soon as we can.
  <br> -- Thanks for visiting our website --

</div>
<a href="me"> <%= __('About Me')%> </a>
</center>


<div style="float:right; margin-right:3%">Duy, CEO at DuDaDa </div>
<div class="clear"> </div>
<div class="space"> </div>

<div class="space"> </div>
<!-- close containter-->
