<center style = "text-align: center">
  <h3><%= __('Update Profile')%></h3>
  </center>
  <form method="post" action="updateProfile" name="frm">
    <label> <%= __('Name')%>:  </label>
      <input type="text" id="name" name="name" value="<%=user.hoten%>" readonly="on" style="width:80%;margin-left: 30px" required pattern="[^0-9~!@#$%^*()-=_+:\x22'<>?,.{}]{5,}"
 title="Chỉ có kí tự chữ cái" />

   <br>
    <label><%= __('Username')%>: </label>
      <input type="text" id="username" name="username" value="<%=user.ID%>" readonly="on" style="width:80%" required/>
    <br>
    <label><%= __('Password')%>:    </label>
      <input type="password" id="password" name="password" value="<%=user.password%>" style="width:80%;margin-left: 9px" required/>

	<br>
    <label><%= __('Confirm Password')%>:  </label>
      <input type="password" id="re_password" onchange="checkPass()" value="<%=user.password%>" placeholder="Confilm Password" style="width:74%" required/>

<br>
    <label><%= __('Address')%>:  </label>
      <input type="text" id="diachi" name="diachi" value="<%=user.diachi%>" style="width:80%;margin-left: 22px" required pattern="[^~!@#$%*()=_+:\x22'<>?{}]{5,}" title="Không chứa kí tự đặc biệt" />

<br>
    <label><%= __('Email')%>:  </label>
      <input type="email" name="email" value="<%= user.email%>" style="height: 45px;width: 80%;;margin-left: 40px" required="">

<br>
    <label><%= __('Phone Number')%>:     </label>
      <input type="tel" name="dienthoai" value="<%= user.dienthoai%>" style="height:  45px;width:74%;margin-left: 18px";margin-top: 20px" required="" pattern="[0-9]{1,11}" title="Chỉ có kí tự số">

<br>


   <center> <button type="submit" class="button btn-primary submit" style="width:40%"><%= __('Update')%></button>
    </center>
  </form>
