<center>
  <h3>Quản lý danh sách tài khoản</h3></center>
<div class="space"> </div>
<div class="topnav">
  <a class="active" style="width:80px;" href=""> <i class = "fa fa-home" ></i> </a>
  <div class="search-container">
    <form method="POST" action="findCustomer">
      <input type="text" placeholder="Search.." name="idCustomer">
    </form>
  </div>
</div>

<div class="space"> </div>
<div class="list-group">
  <% if (customerresult) {%>
    <center>
      <h3>Kết quả tìm kiếm</h3> </center>
    <a href="updateCustomer?ID=<%=customerresult.ID%>" class="list-group-item">
      <%= customerresult.hoten %> (
        <%= customerresult.ID %>)
          <h6><%= customerresult.email %></h6> </a>
    <%} else {%>
      <center>
        <h3>Empty or not found </h3> </center>
      <%}%>
</div>

<div class="space"> </div>
<br>

<div class="space"> </div>
<div class="list-group">
  <% if (customer.length != 0) {%>
    <% for (var i=0 ; i < customer.length ; i ++)  { %>
      <!-- hàng for fai có product ở trong -->
      <a href="updateCustomer?ID=<%=customer[i].ID%>" class="list-group-item">
        <%= customer[i].hoten %>(
          <%= customer[i].ID %>)
            <h6><%= customer[i].email %></h6> </a>
      <% } %>
        <%} else {%>
          <center>
            <h3>No customer found </h3> </center>
          <%}%>
</div>
