<!-- Services Details-->
<!--Top Navigation -->
<center><h3 >Quản lý danh sách sản phẩm</h3></center>
<div class="space"> </div>
<div class="topnav">
  <a class="active" style="width:80px;" href=""> <i class = "fa fa-home" ></i> </a>
  <div class="search-container">
    <form method="POST" action="findProduct">
      <input type="text" placeholder="Search.." name="idProduct">
    </form>
  </div>
</div>

<div class="space"> </div>
<div class="list-group">
  <% if (productresult) {%>
    <center>
      <h3>Kết quả tìm kiếm</h3> </center>
    <a href="updateProduct?ID=<%=productresult.ID%>" class="list-group-item">
      <%= productresult.name %> (
        <%= productresult.ID %>)
          <h6><%= productresult.price %></h6> </a>
    <%} else {%>
      <center>
        <h3>Empty or not found product </h3> </center>
      <%}%>
</div>

<div class="space"> </div>

<a href="gianhang" style="float:left">  <button type = "button" class = "button btn-primary"><i class="fa fa-arrow-left"></i>  </button> </a>

<br>

<div class="space"> </div>
<div class="list-group">
  <% if (product) {%>
    <% for (var i=0 ; i < product.length ; i ++)  { %>
      <!-- hàng for fai có product ở trong -->
      <a href="updateProduct?ID=<%=product[i].ID%>" class="list-group-item">
        <%= product[i].name %>
          <h6><%= product[i].ID %></h6> </a>
      <% } %>
        <%} else {%>
          <center>
            <h3>No product found </h3> </center>
          <%}%>
</div>
